.header-modul{width:205px;height:29px;float:left;}
.left-modul{width:5px;height:29px;float:left; background:url('Images/header-left.png');}
.right-modul{width:5px;height:29px;float:left;background:url('Images/header-right.png');}
.center-modul{width:195px;height:29px;float:left;background:url('Images/header-center.png') repeat-x;}
.content-module {
  width:190px; float:left;padding-left:15px;
}
#group-product {width:100%; float:left;}
.content-module ul li {list-style:none; line-height:29px; height:29px;}
.content-module ul li a {color:#052465; text-decoration:none;}
.content-module ul li a:hover {color: #FFFFF;}